#map {
	width: 100%;
	height: 100%;
	position: static;
}
.map-slot{
	
}
body{
	margin: 0;
}
#zone-btns{
  position: fixed;
  bottom: 17px;
}
.mdl-button--fab.mdl-button--colored {
    background: #555555;
    color: rgb(255,255,255);
}

#blog-modal-content{
	font-size: 3rem;
    margin-top: 10px;
}