/* html {
  min-height: 100%;
 background: -webkit-linear-gradient(#9d9181, #9e866c);
  background: linear-gradient(#9d9181, #9e866c); 
} */

/* body {
  background-color: transparent;
} */

.card-profile {
    width: 100%;
    /* margin: 50px auto; */ 
    /* background-color: #e6e5e1; */
    border-radius: 0;
    border: 0;
    /* box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2); */
}

.card-profile .card-img-top {
    border-radius: 0;
    width: 100%;
    height: 21rem;
}

.card-profile .card-img-profile {
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px;
    height: 21rem;
}

.card-profile .card-title {
    margin-bottom: 50px;
    font-size: 3rem;
}

.card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
}

.card-profile .card-links {
    margin-bottom: 25px;
    font-size: 2rem;
}

.card-profile .card-links .fa {
    margin: 0 1em;
    font-size: 1.6em;
}

.card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
    text-decoration: none;
}

.card-profile .card-links .fa.fa-dribbble {
    color: #ea4b89;
    font-weight: bold;
}

.card-profile .card-links .fa.fa-dribbble:hover {
    color: #e51d6b;
}

.card-profile .card-links .fa.fa-twitter {
    color: #68aade;
}

.card-profile .card-links .fa.fa-twitter:hover {
    color: #3e92d5;
}

.card-profile .card-links .fa.fa-facebook {
    color: #3b5999;
}

.card-profile .card-links .fa.fa-facebook:hover {
    color: #2d4474;
}

.back-btn{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 34px;
    text-shadow: 2px 2px 2px #000;
    color: #333;
    position: absolute;
}