#tb1
	{
		margin-top: 7rem;
		padding: 2rem;		
	}
#ta1
	{
		margin-top: -2rem;
	}
#b1
	{
		position: absolute;
		margin-top: 2rem;
		right: 10px;
	}

#blog-content{
    width: 100%;
    border-color: rgb(33,150,243);
    border-width: 2px;
}
		