#tb1
	{
		margin-top: 7rem;
		padding: 2rem;		
	}
#ta1
	{
		margin-top: -2rem;
	}
#b1
	{
		position: absolute;
		margin-top: 2rem;
		right: 10px;
	}

#blog-content{
    width: 100%;
    border-color: rgb(33,150,243);
    border-width: 2px;
    font-size: 19px !important;
    height: 59%;
}

#blog-title{
    width: 100%;
    border-color: rgb(33,150,243);
    border-width: 2px;
    margin-bottom: 3rem;
    height: 5rem;
    font-size: 3rem;
}
		
.mdl-button--fab.mdl-button--colored {
    background: #555;
    color: rgb(255,255,255);
}

body{
	background-image: url(../images/bg.png);
}