#tb1
	{
		padding: 2rem;		
	}
#ta1
	{
		margin-top: -2rem;
	}
#b1
	{
		position: absolute;
		margin-top: 2rem;
		right: 10px;
	}

#blog-content{
    width: 100%;
    border-color: #333;
    border-width: 2px;
    font-size: 19px !important;
    height: 54%;
    /*color: #fff;*/
	/*background: rgba(0,0,0,.5); */
    font-weight: 900;
}

#blog-title{
    width: 100%;
    border-color: #333;
    border-width: 2px;
    margin-bottom: 3rem;
    height: 5rem;
    font-size: 2rem;
    /*color: #fff;*/
    /*background: rgba(0,0,0,.5);*/
    font-weight: 900;
}

#blog-video{
    width: 100%;
    border-color: #333;
    border-width: 2px;
    margin-bottom: 3rem;
    height: 5rem;
    font-size: 2rem;
    /*color: #fff;*/
    /*background: rgba(0,0,0,.5);*/
    font-weight: 900;
}
		
.mdl-button--fab.mdl-button--colored {
    background: #555;
    color: rgb(255,255,255);
}

body{
	overflow: hidden;
}

.video-btn{
    background: rgb(85, 85, 85) !important;
    color: rgb(255,255,255);
}

.back-btn{
    font-size: 34px;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
}

.mdl-layout__header-row{
    padding-left: 1rem;
}

.mdl-layout-title{
    margin-left: 1rem;
}

.mdl-layout__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    background-color: #313030;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: max-height,box-shadow;
}

.page-content{
    margin-top: 1rem;
}

.mdl-button--raised.mdl-button--colored {
    background: rgb(158,158,158);
    color: rgb(255, 255, 255);
}