#tb1
	{
		margin-top: 7rem;
		margin-right: 1rem;
		margin-left: : 2rem;
		width: 80%;
		padding: 3rem;		

	}
#ta1
	{
		margin-top: -2rem;
		margin-left: 2rem;
	}
#b1
	{
		position: relative;
		margin-top: 2rem;
		right:0;
	}

		